
<div class="container">
{{title}}
<div class="row">
    <div class="col-md-4"> <!--Clock-->
        <app-clock></app-clock>
        <app-timer></app-timer> 
    </div>
    <div class="col-md-8"> <!--NavBar-->
        <nav>
            <ul>
                <li><a routerLink="/Characters/allchars">Characters</a></li>
                <li><a routerLink="/Weapons/allWeapons">Weapons</a></li>
            </ul>
        </nav>
    </div>
</div>
    <div class="col-md-12"> <!--View-->
        <router-outlet ></router-outlet>
    </div>

<div class="ToDo col-md-12"> <!--ToDoList-->
    <div><h4>To Do List</h4></div>
    <app-to-dos></app-to-dos>
</div>
</div>
<footer>
    Made by: Angelo Rafael Recio <br>
    Credits to <a href="https://genshin.honeyhunterworld.com/">Honey Impact</a> for the Game's Data, <br>
    Credits to <a href="https://www.youtube.com/c/Codevolution">Codevolution and his youtube Channel</a> for Teaching the Angular Framework,
</footer>
