.main{
  background-image: url(https://images8.alphacoders.com/116/1161811.jpg);
}
li {
    display: inline;
    margin-right: 1rem;
  }
footer{
  padding: 15px 20px;
  background-color: grey;
  color: white;
  a{
    color:white;
  }
}

