<h4>Characters</h4>
  <button class="btn btn-dark" (click)="back()">BACK</button><br>
  <div class="row">
    <div class="col-2">
      <img class="CharItem" src="{{ content[charNumber].imgurl }}" alt="{{ content[charNumber].name }}">
    </div>
  <div class="col-10">
    <p>Name: {{ content[charNumber].name | titlecase }} ( {{content[charNumber].type}} user )</p>
    <p>Element: {{content[charNumber].element}}</p>
    <p>Region: {{ content[charNumber].region }}</p>
    <p>Talent Domain: {{ content[charNumber].domainname }}</p>
    <p>Talent Material: {{ content[charNumber].material }}</p>
    <p>Available Days: {{ content[charNumber].days }}</p>
    <button (click)="sendToService()" class="Add btn btn-dark">Add Talent Material To List Input</button>
  </div>
  </div>