<h4>Weapons</h4>
  <button (click)="prev()" class="btn btn-secondary">PREV</button>
  <button (click)="back()" class="btn btn-secondary">BACK</button> 
  <button (click)="next()" class="btn btn-secondary">NEXT</button><br>
  <div class="row">
  <div class="col-2">
  <img class="WeaponItem" src="{{ weapons[weaponNumber].imgurl }}" alt="{{ weapons[weaponNumber].name }}">
  </div>  
  <div class="col-10">
    <p>Name: {{ weapons[weaponNumber].name | titlecase }} ( {{weapons[weaponNumber].type}} )</p>  
    <p>Second Stat: {{weapons[weaponNumber].stat}} </p>
    <p>Domain: {{weapons[weaponNumber].domainname}}</p>
    <p>Ascend Material: {{weapons[weaponNumber].material}}</p>
    <p>Ascend Days: {{weapons[weaponNumber].days}}</p>
    <button (click)="Send2Service(weapons[weaponNumber].material, weapons[weaponNumber].name , weapons[weaponNumber].domainname)" class="btn btn-secondary">Add Talent Material To List Input</button>
  </div>
  </div>