li { display: inline; margin-right: 1rem; }
.container{
    display: flexbox;
    .router{
        height: 400px;
        flex: 1 1 auto;
        position: relative;
        overflow-y: auto;
        border: 2px solid black;
        padding: 10px 12px 10px 12px;
    }
}
