p{color:white;}
ul{
    padding-top:10px;;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li { 
    display: inline; 
    margin-right: 1rem;
    margin-top: 5px;
    margin-bottom: 5px; }
}
  /*Character View*/
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*Character IMG*/
.CharItem,.WeaponPic { 
    width:90px; 
    margin-top: 7px;
    margin-right: -50px;
    &:hover { 
        border-style: solid;
        border-color:grey; }
    &:active{
        border-color: black;}
}
