<p>CHARACTERS</p>
<nav class="row">
    <ul>
        <li><button (click)="showAllCharacters()" type="button" class="btn btn-outline-primary">Sunday</button></li>
        <li><button (click)="showDay1Characters()" type="button" class="btn btn-outline-primary">Monday</button></li>
        <li><button (click)="showDay2Characters()" type="button" class="btn btn-outline-primary">Tuesday</button></li>
        <li><button (click)="showDay3Characters()" type="button" class="btn btn-outline-primary">Wednesday</button></li>
        <li><button (click)="showDay1Characters()" type="button" class="btn btn-outline-primary">Thursday</button></li>
        <li><button (click)="showDay2Characters()" type="button" class="btn btn-outline-primary">Friday</button></li>
        <li><button (click)="showDay3Characters()" type="button" class="btn btn-outline-primary">Saturday</button></li>
    </ul>
</nav>
<div class="router">
<router-outlet></router-outlet>
</div>